// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  margin-bottom: 25px;
  z-index: 10;

  // первый уровень
  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $font-size--h3;
  }

  &__item {
    position: relative;
    padding: 0 10px 0 15px;

    &:not(:first-child):before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      transform: translateY(-50%);
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: #fff;
    }
  }
}
