// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  padding: 50px 5px 35px;
  text-align: center;
  color: #fff;

  @media (min-width: $screen-sm) {
    padding-top: 35px 25px 50px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #64779a url(../img/page-header-bg--mobile.jpg) left center no-repeat;
    background-size: cover;

    @media (min-width: $screen-xl) {
      bottom: auto;
      height: 400px;
      background: #64779a url(../img/page-header-bg.jpg) left center no-repeat;
      background-size: cover;
    }
  }

  &__inner {
    position: relative;

    @media (min-width: $screen-sm) {
      width: 490px;
      margin: auto;

      .logo {
        position: absolute;
        top: 10px;
        left: 0;
      }
    }

    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
      width: 900px;
    }

    @media (min-width: $screen-xl) {
      width: 1266px;
    }
  }

  &__text-wrap {

    @media (min-width: $screen-lg) {
      margin-left: auto;
    }
  }

  &__info {

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: flex-start;

      &:before {
        content: '';
        display: block;
        width: 225px;
        height: 225px;
        background: url(../img/map--mobile.png) center no-repeat;
      }
    }

    @media (min-width: $screen-lg) {

      &:before {
        width: 325px;
        height: 325px;
        margin-top: 20px;
        margin-right: 50px;
        background: url(../img/map.png) center no-repeat;
        background-size: 100% auto;
      }
    }

    @media (min-width: $screen-xl) {

      &:before {
        width: 511px;
        height: 512px;
        margin-top: -116px;
        margin-right: 151px;
        margin-left: 83px;
        background-size: 100% auto;
      }
    }
  }

  &__info-text {

    @media (min-width: $screen-sm) {
      margin-left: auto;
    }
  }

  &__title {
    margin: 0;
    padding: 20px 0 14px;
    font-size: $font-size--h1 - 2;

    @media (min-width: $screen-sm) {
      padding-left: 55px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 40px;
      font-size: $font-size--h1 + 11;
    }
  }

  &__features {
    width: 210px;
    margin: 0 auto;
    padding: 25px 20px 15px;
    list-style: none;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    color: $text-color;
    text-align: left;

    @media (min-width: $screen-lg) {
      width: 343px;
      padding: 35px 30px 25px;
      border-radius: $border-radius + 1;
      font-size: $font-size--h3 + 4;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 8px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    }
  }

  &__features-item {
    position: relative;
    padding-left: 20px;
    padding-bottom: 16px;

    @media (min-width: $screen-lg) {
      padding-left: 45px;
      padding-bottom: 30px;
    }

    svg {
      position: absolute;
      top: 4px;
      left: 0;
      fill: $color-main--darken;

      @media (min-width: $screen-lg) {
        top: 4px;
        left: 5px;
        width: 22px;
        height: 17px;
      }
    }

    a {
      font-weight: 700;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__features-descr {
    position: relative;
    padding-top: 9px;
    text-align: center;
    font-size: $font-size--small;
    opacity: 0.8;

    @media (min-width: $screen-lg) {
      padding-top: 20px;
      font-size: $font-size--small + 4;
    }

    @media (min-width: $screen-xl) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      height: 1px;
      background: $gray-lighten;
    }
  }

  &__watch-video.btn {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      width: 100%;
      margin-top: 18px;
    }
  }
}
