// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  padding: 50px 25px 35px;
  text-align: center;
  color: #fff;

  @media (min-width: $screen-sm) {
    padding-top: 35px;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #64779A url(../img/page-header-bg--mobile.jpg) left center no-repeat;
    background-size: cover;
  }

  &__inner {
    position: relative;

    @media (min-width: $screen-sm) {

      .logo {
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
  }

  &__info {

    @media (min-width: $screen-sm) {
      display: flex;

      &:before {
        content: '';
        display: block;
        width: 225px;
        height: 225px;
        background: url(../img/map--mobile.png) center no-repeat;
      }
    }
  }

  &__title {
    margin: 0;
    padding: 20px 0 14px;
    font-size: $font-size--h1 - 2;

    @media (min-width: $screen-sm) {
      padding-left: 55px;
    }
  }

  &__features {
    max-width: 210px;
    margin: 0 auto;
    padding: 25px 20px 15px;
    list-style: none;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    color: $text-color;
    text-align: left;

    @media (min-width: $screen-sm) {
      margin-right: 0;
    }
  }

  &__features-item {
    position: relative;
    padding-left: 20px;
    padding-bottom: 16px;

    svg {
      position: absolute;
      top: 4px;
      left: 0;
      fill: $color-main--darken;
    }

    a {
      font-weight: 700;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__features-descr {
    position: relative;
    padding-top: 9px;
    text-align: center;
    font-size: $font-size--small;
    opacity: 0.8;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      height: 1px;
      background: $gray-lighten;
    }
  }

  &__watch-video.btn {
    display: none;
  }
}
