// В этом файле должны быть стили для БЭМ-блока or, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.or {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;

  &:before,
  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: $gray-lighten;
  }

  &__inner {
    padding-left: 30px;
    padding-right: 30px;
    font-size: $font-size--h2;

    @media (min-width: $screen-xl) {
      font-size: $font-size--h2 + 14;
    }
  }
}
