//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='no-js  page', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        block header
          +page-header()
            +logo()
              span Greece.ru
            .page-header__text-wrap
              h1.page-header__title Market your property online with Greece.Ru
              +main-nav()
            .page-header__info
              ul.page-header__features
                li.page-header__features-item
                  svg(width='10', height='10')
                    use(xlink:href='img/sprite-svg.svg#ok')
                  a(href='#list-property') Free listing
                li.page-header__features-item
                  svg(width='10', height='10')
                    use(xlink:href='img/sprite-svg.svg#ok')
                  span Fast approval
                li.page-header__features-item
                  svg(width='10', height='10')
                    use(xlink:href='img/sprite-svg.svg#ok')
                  span International promotion
                li.page-header__features-item
                  svg(width='10', height='10')
                    use(xlink:href='img/sprite-svg.svg#ok')
                  span Targeted audience
                li.page-header__features-item
                  svg(width='10', height='10')
                    use(xlink:href='img/sprite-svg.svg#ok')
                  a(href='#fast-deals') Fast deals
                li.page-header__features-descr Trusted since 2002
              +btn('Watch video')(href='#video', id='watch-video', class='page-header__watch-video')
            +trusted()
        block content
      .page__footer-wrapper
        block footer
          +page-footer()

    block page-bottom
      script(src='js/script.min.js')
