//- Все примеси в этом файле должны начинаться c имени блока (join)

mixin join(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +join('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' join--' + modsList[i].trim();
      }
    }

  .join(class=allMods)&attributes(attributes)
    h2.join__title
      a(href='url') List your property FOR FREE
    +form()
      +field-select(
        '',
        {
          name: 'type',
          id: 'type',
        },
        [
          {
            title: 'I’m a buyer',
            attrs: {
              value: 'buyer',
              checked: true,
            }
          },
          {
            title: 'I’m a seller',
            attrs: {
              value: 'seller',
            }
          },
        ],
        'Please specify who you are'
      )(class='custom-select', placeholder='I’m a buyer')
      +field-text({
        helpText: 'Please enter your name',
        mods: 'error',
        attrs: {
          name: 'name',
          placeholder: 'Your Name',
          required: true
        }
      })
      +field-text({
        attrs: {
          name: 'surname',
          placeholder: 'Your Surname',
          required: true
        }
      })
      +field-text({
        attrs: {
          name: 'phone',
          type: 'tel',
          placeholder: 'Your Phone',
          required: true
        }
      })
      +field-text({
        attrs: {
          name: 'email',
          type: 'text',
          placeholder: 'Your Email',
          required: true
        }
      })
      +field-text({
        attrs: {
          name: 'password',
          type: 'password',
          placeholder: 'Your Password',
          required: true
        }
      })
      +field-checkbox([
        {
          title: 'I have read and agree to the <a href=\'url\'>Terms and Conditions</a>',
          helpText: 'You have to agree to our Terms and Conditions',
          mods: 'error',
          attrs: {
            name: 'terms',
            required: true
          }
        },
      ])
      .form__btn
        +btn('GET STARTED NOW', 'lg, block')
