//- Все примеси в этом файле должны начинаться c имени блока (social-links)

mixin social-links(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +social-links('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' social-links--' + modsList[i].trim();
      }
    }

  ul.social-links(class=allMods)&attributes(attributes)
    li.social-links__item
      a(href='') link
