//- Все примеси в этом файле должны начинаться c имени блока (logo)

mixin logo(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +logo()
        +logo('mod')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo--' + modsList[i].trim();
      }
    }

  span.logo(class=allMods)&attributes(attributes)
    img(src='img/logo.png', alt='Greece.ru', width='32', height='43')
