//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner
      h2.page-footer__title Got any questions?
        small Our FAQ and has all the answers!
      +btn('Frequently Asked Questions')(href='url', class='page-footer__btn')
      +social-links()(class='page-footer__social')
      p.page-footer__copyright © Copyright 2017 Greece.ru #[br] Real estate agency with the best properties. Become  part of our community.
