//- Все примеси в этом файле должны начинаться c имени блока (help-friend)

mixin help-friend(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +help-friend('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' help-friend--' + modsList[i].trim();
      }
    }

  .help-friend(class=allMods)&attributes(attributes)
    h2.help-friend__title Do you have a friend who is selling or renting out his property?
      small Help him by recommending our service
    ul.help-friend__send
      li.help-friend__send-item
        a.help-friend__send-link(href="")
          span Send in messenger
        a.help-friend__send-link(href="")
          span Send in mail
    +or('or')
    h3.help-friend__subtitle Browse our properties
    p.help-friend__my-links
      +btn('For sale', 'sq')(href="url")
      +btn('For vacation rental', 'sq')(href="url")
      +btn('For long term', 'sq')(href="url")
