// В этом файле должны быть стили для БЭМ-блока help-friend, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.help-friend {

  $block-name:                &; // #{$block-name}__element

  padding: 30px 25px;
  border-top: 1px solid $gray-lighten-2;
  border-bottom: 1px solid $gray-lighten-2;
  background: $gray-lightest;
  text-align: center;

  @media (min-width: $screen-lg) {
    padding-top: 56px;
    padding-bottom: 48px;
  }

  &__inner {

    @media (min-width: $screen-lg) {
      max-width: 1060px;
      margin: auto;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: $font-size--h1;

    @media (min-width: $screen-lg) {
      margin-top: 0;
      margin-bottom: 55px;
      font-size: $font-size--h1 + 11;
    }

    small {
      display: block;
      padding-top: 10px;
      font-size: $font-size--h2;
      font-weight: 400;

      @media (min-width: $screen-lg) {
        margin-top: 20px;
        font-size: $font-size--h1 + 3;
      }
    }
  }

  &__send {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__send-link {
    position: relative;
    width: 160px;
    margin-bottom: 15px;
    padding: 0 5px;
    flex-shrink: 0;
    padding-top: 90px;
    text-decoration: none;
    font-size: $font-size--h3;

    @media (min-width: $screen-lg) {
      width: 300px;
      padding-top: 130px;
      margin-bottom: 56px;
      font-size: $font-size--h3 + 6;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background: #fff;
      transform: translateX(-50%);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      @media (min-width: $screen-lg) {
        width: 110px;
        height: 110px;
      }

      @media (min-width: $screen-xl) {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      }
    }

    svg {
      position: absolute;
      top: 19px;
      left: 50%;
      transform: translateX(-50%);
      fill: $color-main--dark;

      @media (min-width: $screen-lg) {
        top: 26px;
        width: 56px;
        height: 56px;
      }
    }

    &--msg {

      &:before {
        background: $color-main--dark;
      }

      svg {
        fill: #fff;
      }
    }
  }

  &__or {
    max-width: 260px;
    margin: auto;
  }

  &__subtitle {
    margin: 12px 0 28px;
    font-size: $font-size--h1;

    @media (min-width: $screen-lg) {
      margin: 55px 0 50px;
      font-size: $font-size--h1 + 11;
    }
  }

  &__my-links {
    margin: 0;

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .btn {
      display: block;

      &:not(:last-child) {
        margin-bottom: 14px;
      }

      @media (min-width: $screen-lg) {
        width: 270px;
      }

      @media (min-width: $screen-xl) {
        width: 300px;
      }
    }
  }
}
