extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +about()
  +list-property()
  +join()
  +help-friend()

//- block page-bottom
//-   script(src="js/some.js")
