// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                #31353f;
$gray-darker:                 #434956;
$gray-darken:                 #20232B;
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  #C2C3C6; // соц. ссылки в подвале
$gray-lighten:                #d2d9e8; // гор. разделитель под заголовком
$gray-lighten-2:              #dfe4f4;
$gray-lighter:                #e3e7ec; // бордюр
$gray-lightest:               #f3f5f9;
$white:                       hsl(0, 0%, 100%);

$color-main--lightest:        #eef2ff;
$color-main:                  #477afb;
$color-main--dark:            #3f70fa;
$color-main--darken:          #4263cc;
$color-success:               hsl(120, 39%, 54%);
$color-danger:                #e73c64;
$color-warning:               hsl(35, 84%, 62%);



// Семантические цвета

$text-color:                  $gray-darkest;
$text-color--muted:           $gray-darker;
$body-bg:                     $white;

$link-color:                  $color-main;
$link-color--hover:           darken($color-main, 15%);

$border-color:                $gray-lighter;



// Базовая типографика

$font-size--root:             13px;

$font-size:                   $font-size--root;

$font-size--h1:               21px;
$font-size--h2:               18px;
$font-size--h3:               16px;
$font-size--h4:               $font-size;
$font-size--h5:               $font-size;
$font-size--h6:               $font-size;

$font-size--small:            12px;

$line-height:                 1.2;

$font-family:                 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
$font-family--serif:          $font-family;
$font-family--monospace:      SFMono-Regular, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl - 30;
$container-xxl:               $screen-xxl - 30;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           rem(30px);



// Разное

$field-padding-vertical:      16px;
$field-padding-horizontal:    15px;

$border-radius:               2px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width:          $screen-lg;
$toggler-part-height:         3px;
$toggler-part-bg-color:       #000;

$z-index-modal:               100;
